$DarkElements: hsl(209, 23%, 22%);
$DarkBackgroud: hsl(207, 26%, 17%);
$Dark-Text: White;
$LightElements: White;
$LightBackground: hsl(0, 0%, 98%);
$LightInputs: hsl(0, 0%, 52%);
$Light-Text: hsl(200, 15%, 8%);